# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyd

# --------------------
# Virtual Environment
# --------------------
.venv/

# --------------------
# Django
# --------------------
db.sqlite3
*.log
local_settings.py
.env

# --------------------
# Testing / Coverage
# --------------------
.pytest_cache/
.coverage
htmlcov/

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db
